{
  "SaveName": "我的账号找不到了的世界",
  "WorldName": "我的账号找不到了的世界",
  "GameModeIdx": 1,
  "GameVersion": 1012002,
  "IsHost": false,
  "HostID": 0,
  "GameType": 7,
  "LanGameStartServerTime": 0,
  "RoomName": "",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": true,
  "Seed": "20200608",
  "Structures": true,
  "LastPlayTime": 1625113964,
  "TotalPlayTime": 12752,
  "UpdateTime": 0,
  "AllowCheat": true,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "D:\\MCLDownload\\Game\\tongji1853308@163.com\\MCGame\\我的账号找不到了的世界",
  "GUID": "MCGame-e0b75912-6007-40f8-9228-26c5ec150ff0",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [
    {
      "ID": "4637253224369017999"
    }
  ],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "ahv": false,
      "Name": "我的账号找不到了",
      "CreatedTimeStamp": 1624671787,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 8,
  "ServerID": 0,
  "tag_ids": null,
  "item_ids": [],
  "Result": {
    "a": true,
    "b": "",
    "c": null
  }
}