{
  "ResPaths": [
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_e62d4b5d9cf0b1d2e7b39256ba0a0acf_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_e62d4b5d9cf0b1d2e7b39256ba0a0acf_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_b2029148dc3b45f06fa86e6e52221d3f_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_b2029148dc3b45f06fa86e6e52221d3f_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_37df3d1a22150c449d44b3b1b0e276a8_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_37df3d1a22150c449d44b3b1b0e276a8_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_b324dc12472f4b66468d2cda35e1cdb0_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_b324dc12472f4b66468d2cda35e1cdb0_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_588b10da49c97d3043b570e5c8e0709d_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_588b10da49c97d3043b570e5c8e0709d_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_ee8c107d97be1d85903f4afce7aa9237_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_ee8c107d97be1d85903f4afce7aa9237_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_e993c76cb5069d35035c43ba24d15313_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_e993c76cb5069d35035c43ba24d15313_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_e46ca60fe4fc5edfecf80597ab908a20_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_e46ca60fe4fc5edfecf80597ab908a20_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_f90c13a057cfc29a11a5bc8d832e51a9_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_f90c13a057cfc29a11a5bc8d832e51a9_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_b890206a0b5bc38c03efa3fea7502f23_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_b890206a0b5bc38c03efa3fea7502f23_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_707df8d6c41451400bd2ed9eadab6c2b_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_707df8d6c41451400bd2ed9eadab6c2b_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_7b0e470429695927cd51323b207e9f62_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_7b0e470429695927cd51323b207e9f62_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_24b778ae04c7918020497ee9eeed3d9d_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_24b778ae04c7918020497ee9eeed3d9d_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_7587e560a67c678facad25c2632ddd92_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_7587e560a67c678facad25c2632ddd92_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_f2097ff6de870716beab95b89a29d3ae_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_f2097ff6de870716beab95b89a29d3ae_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_1cde47a7e5bea8705b62da6ff4bd9464_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_1cde47a7e5bea8705b62da6ff4bd9464_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_535fa597882765a38b6acd37d651e53f_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_535fa597882765a38b6acd37d651e53f_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_677c020dfbfbcedf368769a2b4df697b_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_677c020dfbfbcedf368769a2b4df697b_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_3bead9f2a1288fe21c319f8b3d78a001_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_3bead9f2a1288fe21c319f8b3d78a001_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_dbf1e8d99c9c5369714ce68e51cae297_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_dbf1e8d99c9c5369714ce68e51cae297_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_3d340cb9128a99659bbc2e335d0a3ab1_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_3d340cb9128a99659bbc2e335d0a3ab1_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_441e729e6ea14ad66038ee26fedfe82a_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_441e729e6ea14ad66038ee26fedfe82a_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_73b6b4b67c79f442a0289cb5a076e8bd_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_73b6b4b67c79f442a0289cb5a076e8bd_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_1c2bd62bbe74085ce8c8f9d09c43123a_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_1c2bd62bbe74085ce8c8f9d09c43123a_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_4e4100539cf9faece339bea2d20a1c76_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_4e4100539cf9faece339bea2d20a1c76_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\behavior_packs\\behavior_bef425e7f5e121edfbe7e848f425a3d3_0",
    "C:\\Users\\1853308\\AppData\\Roaming\\MinecraftPE_Netease\\games\\com.netease\\resource_packs\\resource_bef425e7f5e121edfbe7e848f425a3d3_0"
  ]
}