{
  "SaveName": "生存",
  "WorldName": "生存",
  "GameModeIdx": 0,
  "GameVersion": 100000000,
  "IsHost": false,
  "HostID": 0,
  "GameType": 7,
  "LanGameStartServerTime": 0,
  "RoomName": "",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 0,
  "TotalPlayTime": 0,
  "UpdateTime": 0,
  "AllowCheat": false,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "D:\\MCLDownload\\Game\\tongji1853308@163.com\\MCGame\\生存",
  "GUID": "MCGame-2f2824ae-1d64-43ea-9746-f765127c7bdd",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "aff": false,
      "Name": "我的账号找不到了",
      "CreatedTimeStamp": 1564496335,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 0,
  "ServerID": 0,
  "tag_ids": null
}