{
  "SaveName": "我的世界",
  "WorldName": "我的世界",
  "GameModeIdx": 0,
  "GameVersion": 1012002,
  "IsHost": false,
  "HostID": 0,
  "GameType": 7,
  "LanGameStartServerTime": 0,
  "RoomName": "",
  "RoomType": 0,
  "GameLaunchModeIdx": 0,
  "MaxPlayers": 8,
  "IsAllowCheat": false,
  "IsOpenCMD": false,
  "Seed": "",
  "Structures": true,
  "LastPlayTime": 0,
  "TotalPlayTime": 0,
  "UpdateTime": 0,
  "AllowCheat": true,
  "MapType": 0,
  "BonusChest": false,
  "GamePath": "D:\\MCLDownload\\Game\\tongji1853308@163.com\\MCGame\\我的世界",
  "GUID": "MCGame-a9e25766-0dcd-4d79-a143-2e99da4f00eb",
  "WorldId": null,
  "RecentRoleID": null,
  "OpenCMDWindow": false,
  "InstallComponents": [],
  "OpenedVisualTextureList": [],
  "OpenedVisualShaderpackList": [],
  "RoleList": [
    {
      "ahv": false,
      "Name": "我的账号找不到了",
      "CreatedTimeStamp": 1564496335,
      "EntityID": null,
      "ExpireTime": 0
    }
  ],
  "IsNeverNote": false,
  "IsAutoSync": false,
  "IsNewGame": false,
  "IsAllowPE": false,
  "Java": 0,
  "ServerID": 0,
  "tag_ids": null,
  "item_ids": [],
  "Result": {
    "a": false,
    "b": "m_confHelper is null",
    "c": null
  }
}